ul.social-network{
    list-style: none;
    display: inline;
    padding: 0%;
}

ul.social-network li{
    display: inline;
    margin: 0%;
    padding: 5px;
}
.fa {
    font-size: 35pt;
    color: white;
    padding: 10px;
}

.fa-github-alt:hover {
    color: black;
}

.fa-instagram:hover {
    color: #b332a8;
}

.fa-linkedin-square:hover {
    color: #0a66c2;
}

.cor-do-footer {
    background: rgb(61, 28, 206, 0.774);
}