#img-bg {
    background-image: url(https://image.freepik.com/vetores-gratis/blogar-divertido-criacao-de-conteudo-streaming-online-videoblog-jovem-fazendo-selfie-para-rede-social-compartilhando-feedback-estrategia-de-autopromocao_335657-2386.jpg);

    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background {
    background-color: rgba(202, 198, 198, 0.774);
}