#img-bg {
    background-image: url(https://miro.medium.com/max/7000/0*3cvAhquhiICIi3jm);

    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(.75);
}

.background {
    background: rgba(61, 28, 206, 0.774);
}

label {
    color: honeydew;
}

h1 {
    color: honeydew;
}